<div class="bg-white">
    <div class="border py-3 px-6">
        <div class="flex justify-between">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
                </svg>
                <span class="ml-2 font-semibold text-[#252C32]">カリキュラム管理」</span>
            </div>

            <div class="ml-6 flex flex-1 gap-x-3">
                <div class="flex cursor-pointer select-none items-center gap-x-2 rounded-md border bg-[#126265] py-2 px-1 text-white hover:bg-blue-500">
                    <p class="text-sm w-[180px] text-center font-medium"><i class="ri-user-2-fill mr-1"></i>こんにちは <span id="user_name" class="font-bold">こんにちは </span></p>

                </div>

                <input type="text"
                       class="w-full rounded-md border border-[#c5c5c5] px-3 py-2 text-sm focus:border-[#126265] focus:outline focus:outline-1"
                       placeholder="単語を検索 (Tìm kiếm từ vựng)" />
            </div>

            <div class="ml-2 flex">
                    <div onclick="redirectTo('/vocabulary')"  class="flex cursor-pointer items-center gap-x-1 rounded-md py-2 px-4 hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z" />
                            <path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd" />
                        </svg>
                        <span class="text-sm font-medium">Từ vựng</span>
                    </div>

                <div class="flex cursor-pointer items-center gap-x-1 rounded-md py-2 px-4 hover:bg-gray-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm font-medium">Sổ tay</span>
                </div>

                <div class="flex cursor-pointer items-center gap-x-1 rounded-md py-2 px-4 hover:bg-gray-100">
                    <div class="relative text-[#6b7280]">
                        <i class="ri-notification-3-fill"></i>
                        <span class="absolute -top-2 -right-2 flex h-4 w-4 items-center justify-center rounded-full bg-red-500 p-2 text-xs text-white">3</span>
                    </div>
                    <span class="text-sm font-medium">Thông báo</span>
                </div>

                <div class="ml-2 flex gap-[5px] cursor-pointer items-center gap-x-1 rounded-md border py-2 px-4 hover:bg-gray-100" id="logoutButton">
                    <span class="align-self-center text-sm font-medium">ログアウト</span>
                    <i class="ri-logout-circle-line"></i>
                </div>
            </div>
        </div>

        <div class="mt-4 flex items-center justify-between">

            <div class="flex gap-x-8">
                <span class="cursor-pointer rounded-sm py-1 px-2 text-sm font-medium hover:bg-gray-100">Bộ thủ 部首</span>
                <span class="cursor-pointer rounded-sm py-1 px-2 text-sm font-medium hover:bg-gray-100">JLPT N5</span>
                <span class="cursor-pointer rounded-sm py-1 px-2 text-sm font-medium hover:bg-gray-100">JLPT N4</span>
                <span class="cursor-pointer rounded-sm py-1 px-2 text-sm font-medium hover:bg-gray-100">JLPT N3</span>
                <span class="cursor-pointer rounded-sm py-1 px-2 text-sm font-medium hover:bg-gray-100">JLPT N2</span>
                <span class="cursor-pointer rounded-sm py-1 px-2 text-sm font-medium hover:bg-gray-100">JLPT N1</span>
                <span class="cursor-pointer rounded-sm py-1 px-2 text-sm font-medium hover:bg-gray-100">Pharmacy</span>
                <span class="cursor-pointer rounded-sm py-1 px-2 text-sm font-medium hover:bg-gray-100">Toys & Games</span>
            </div>

        </div>
    </div>
</div>
<script>
    const user = JSON.parse(localStorage.getItem('user'));
    function redirectTo(url) {
        window.location.href = url;
    }
    if (user && user.name) {
        document.getElementById('user_name').textContent = user.name;
    } else {
        document.getElementById('user_name').textContent = 'NONAME';
    }
    document.getElementById('logoutButton').addEventListener('click', async function () {
        try {
            await axios.post('/api/auth/logout');
            localStorage.removeItem('user');
            location.reload();
        } catch (error) {
            console.error('Lỗi khi đăng xuất:', error);
        }
    });
</script>