<div class="w-3/4 mx-auto">
    <div class="ml-2 my-2 flex gap-[5px] text-gray-600">
        <span class="mt-1 font-bold">Tags:</span>
        <div class="flex gap-[5px]" id="tags_container"></div>
        <div class="flex cursor-pointer text-[#126265] items-center gap-x-1 rounded-md h-[35px] underline px-4">
            <span id="openCreateTagModalBtn" class="text-sm font-medium">Thêm tag +</span>
        </div>
    </div>
    <hr>
    <div class="card w-full">
        <div class="card-body">
            <div class="mx-auto">
                <div class="relative flex flex-col w-full h-full text-slate-700 bg-white rounded-xl">
                    <div class="relative mt-4 text-slate-700 bg-white rounded-none">
                        <div class="flex items-center justify-between ">
                            <div>
                                <h3 class="text-lg font-semibold text-slate-800">Danh sách từ vựng</h3>
                                <p class="text-slate-500 text-sm self-center">Kết quả tìm kiếm:
                                    <span id="total_docs" class="font-bold">10</span>
                                    bản ghi</p>
                            </div>
                            <div class="flex flex-col gap-2 shrink-0 sm:flex-row">
                                <button class="rounded border border-slate-300 py-2.5 px-3 text-center text-xs font-semibold text-slate-600 transition-all hover:opacity-75 focus:ring focus:ring-slate-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                        type="button">
                                    View All
                                </button>
                                <button
                                        id="openCreateVocabularyModalBtn"
                                        class="flex select-none items-center gap-2 rounded bg-[#126265] py-2.5 px-4 text-xs font-semibold text-white shadow-md shadow-slate-900/10 transition-all hover:shadow-lg hover:shadow-slate-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                         aria-hidden="true"
                                         stroke-width="2" class="w-4 h-4">
                                        <path
                                                d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z">
                                        </path>
                                    </svg>
                                    Thêm từ vựng
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="p-0">
                        <table class="w-full mt-4 text-left table-auto min-w-max">
                            <thead>
                            <tr>
                                <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                                    <p class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                                        WORD
                                        <i class="ri-sort-asc"></i>
                                    </p>
                                </th>
                                <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                                    <p class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                                        TRANSLATION
                                        <i class="ri-sort-asc"></i>
                                    </p>
                                </th>
                                <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                                    <p class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                                        READINGS
                                        <i class="ri-sort-asc"></i>
                                    </p>
                                </th>
                                <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                                    <p class="flex items-center justify-between gap-2 font-sans text-sm  font-normal leading-none text-slate-500">
                                        TAGS
                                        <i class="ri-sort-asc"></i>
                                    </p>
                                </th>
                                <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
                                    <p class="flex items-center justify-between gap-2 font-sans text-sm  font-normal leading-none text-slate-500">
                                        ACTIONS
                                    </p>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="vocabTableBody"></tbody>
                        </table>
                    </div>
                    <div class="flex items-center justify-between p-3">
                        <p class="block text-sm text-slate-500">
                            Page 1 of 10
                        </p>
                        <div class="flex gap-1">
                            <button
                                    class="rounded border border-slate-300 py-2.5 px-3 text-center text-xs font-semibold text-slate-600 transition-all hover:opacity-75 focus:ring focus:ring-slate-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                    type="button">
                                Previous
                            </button>
                            <button
                                    class="rounded border border-slate-300 py-2.5 px-3 text-center text-xs font-semibold text-slate-600 transition-all hover:opacity-75 focus:ring focus:ring-slate-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                    type="button">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const params = {
        limit: 10,
        page: 1
    }
    document.addEventListener("DOMContentLoaded", async function () {
        await fetchVocabularies(params)
        await updateTagsInVocabulary()
        await updateListInVocabulary()
    })
</script>